<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wallCornerRadius</key>
	<integer>0</integer>
	<key>playerCornerRadius</key>
	<integer>4</integer>
	<key>playerSizeRatio</key>
	<real>0.8</real>
	<key>playerInitialY</key>
	<integer>100</integer>
	<key>numberOfMapColumns</key>
	<integer>5</integer>
	<key>numberOfCellsBetweenLines</key>
	<integer>6</integer>
	<key>minimumWallsPerLine</key>
	<integer>3</integer>
</dict>
</plist>
